.main-projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: auto;
    margin: auto;
    width: 90vw;
    margin-top: 50px;
    border: 1px solid black;
}

