.header {
    position: relative;
    top: -60px;
    animation: headerUp 1.5s ease-out;
    animation-fill-mode: forwards;
    background-color: #1e1b2c;
}

/* .ul-container {
    border-bottom: 1px solid rgb(0, 255, 170);
    width: 90%;
    background-color: white;
} */
@keyframes headerUp {
    from {
        top: -60px;
    }
    to {
        top: 20px;
    }
}

.lista {
    width: 16%;
    position: relative;
    color: #fff;
    white-space: nowrap;
    padding: 20px;
    border-left: 1px solid #fff;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    text-align: center;
    transition: 1s;
    cursor: pointer;

    
}

.lista:hover {
    /* animation: liHover 40s linear infinite;
    animation-fill-mode: forwards; */
    height: 120%;
    width: 19%;
    border-color: transparent;
    box-shadow: -10px 0 0  rgba(192, 192, 192, 0.548);
    z-index: 1;
    /* background-image: url('../imagens/aurora-boreal.jpg');
    background-position: 0%;
    background-repeat: repeat; */
}

/* @keyframes liHover {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    } 
} */
/* li::before {
    width: 0%;
    height: 100%;
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.329);
    transition: 0.5s;
}

li:hover::before {
    width: 100%;
    height: 0%;
} */

.icone {
    filter: invert(100%);
}